.parent{
	display:flex;
	background-color: #f5f5f5;
	justify-content:space-evenly;
}
.main{
	text-align:center;
	color:white;
	background-color : #011e29;
	padding:10px;
	
}
.header-1{
	background-color: #f5f5f5;
	padding:20px;
	width:100%;
	text-align:center;
}
.header-2{
	text-align:center;
	background-color: #f5f5f5;
	padding:20px;
	width:90%;	
}
.head{
	background-color: #f5f5f5;
	padding:20px;
	width:90%;	
	
}

